extends layout


block content
    div.HighlightContainer
        div.ControlHighlight
            button.skiptoselectbutton(type='button' class='btn btn-info btn-lg') Skip
        div#Highlight.Highlighter
        
    script(src='/javascripts/highlighter.js')