doctype html
html
  head
    |<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    script(src='https://code.jquery.com/jquery-3.6.0.js')
    script(src='https://code.jquery.com/ui/1.13.0/jquery-ui.js')
    <script src="/javascripts/painterro-1.2.66.min.js"></script>
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_firstpage.css')
    link(rel='stylesheet', href='/stylesheets/style_select.css')
  body
    div#root
      block content
