extends layout


block content
    img.select1(style='width:320px; height:320px;')
    img.select2(style='width:320px; height:320px;')
    img.select3(style='width:320px; height:320px;')
    img.select4(style='width:320px; height:320px;')
    img.select5(style='width:320px; height:320px;')
    img.select6(style='width:320px; height:320px;')
    img.select7(style='width:320px; height:320px;')
    img.select8(style='width:320px; height:320px;')
    img.select9(style='width:320px; height:320px;')
    img.select10(style='width:320px; height:320px;')
    button.selectbutton(type='button' class='btn btn-info btn-lg' style='width:100px; height:60px;') Select
    script(src='/javascripts/select.js')
        
    